<!-- <div class="header">
	<div class="header-cat">
		<a href="/categories/1" id="cat-1">Advice</a>
		<a href="/categories/1" id="cat-2">Advice</a>
	</div>
  <% if current_user %>
    Welcome, <%= current_user.name %>!
  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>
</div> -->

<!-- http://cssdeck.com/labs/another-simple-css3-dropdown-menu -->
<ul class="header">
	<li id="cat-1">Advice</li>
	<li id="cat-2">School</li>
	<li id="cat-3">Movies</li>
	<li id="cat-4">Love</li>
	<li id="cat-5">Family</li>
	<li id="cat-6">School</li>
	<li id="cat-7">Movies</li>
	<li id="cat-8">Love</li>
	<li id="cat-9">Family</li>
	<li id="cat-10">Family</li>
	<li id="cat-11">Family</li>
</ul>